.container {
    display: grid;
	height: 100%;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px auto 80px; 
	grid-template-areas: 
		"h h h h h h h h h h h h"
		"m m m m m m c c c c c c"
		"f f f f f f f f f f f f";
}

.header {
    /* grid-column: 1 / -1;*/
	grid-area: h;
}

.menu {
    /* grid-row: 2 / -1;
	 grid-column: 3 / -1; */
	grid-area: m;
}

.content {
/*     grid-column: 1 / 3; */
	grid-area: c;
}

.footer {
/*     grid-column: 1 / 3; */
	grid-area: f;
}
